@import url("../../index.css");

#result-container {
    text-align: center;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
}

#titleImc {
    font-size: 2rem;
    letter-spacing: 2.5px;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

#subTitleImc {
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 2.2px;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}

#imc-info {
    font-weight: 300;
}

#result-container h3 {
    font-size: 1.3rem;
    font-weight: 200;
    margin: 1.9rem auto;
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 1rem;
}

.imc-table {
  margin: 1.5em 0;
  font-size: 0.8rem;
}

.table-header {
    font-weight: bold;
    letter-spacing: 2.5px;
    border-left: 0.5px solid var(--background-color);
    border-right: 0.5px solid var(--background-color);
    border-top: 0.5px solid var(--background-color);
    border-radius: 3px;
}

.table-header,
.table-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: .5rem;
  border-bottom: 1px solid var(--background-color);
}

.table-header h4 {
    flex: 1;
    padding-bottom: 0.3rem;

    transition: all .5s ease-in-out;
}

.table-data p {
    flex: 1; 
    justify-content: start;
    text-align: center; 
    
    transition: all .5s ease-in-out;
}

.table-body {
    margin-bottom: 3.5rem;
}

.table-header h4:hover,
.table-body .table-data p:hover 
{
    background-color: var(--background-color);
    color: var(--color-text);
    cursor: pointer;
    border-radius: 3px;
    transform: translateX(-5px);
}

#back-btn {
    align-self: center;
}

.medium {
    color: #edc706;
}

.good {
    color: #11bc08;
}

.low {
    color: #EF882E;
    font-weight: bold;
}

.high {
    color: #F5276C;
    font-weight: bold;
}